---
import '../../assets/fonts/WEB/css/clash-display.css'
---

<div class="container mx-auto">
    <div
        class="z-50 sticky top-0 p-4 mx-auto bg-white flex justify-center w-full items-center"
    >
        <div class="custom-500 mx-auto">
            <a href="/">
                <img
                    class="w-[220px]"
                    src="https://static.tildacdn.com/tild3531-3534-4464-a332-663962663532/logo_novo_toys_2.png"
                    alt="logo"
                />
            </a>
        </div>
    </div>
</div>

<style></style>
