---
const { title, cover , desc, url,  slider, price } = Astro.props
import Slider from './Slider.astro'
import dayjs from 'dayjs'
import localizedFormat from 'dayjs/plugin/localizedFormat'
import '../assets/fonts/WEB/css/clash-display.css'
dayjs.extend(localizedFormat)
---

<div class="product-card border bg-white border-indigo-100 mx-auto rounded-xl overflow-hidden">
    <div class="items-center gap-x-4">
        <Slider photos={slider ? slider : []} />

        <div class="grow w-full overflow-auto p-4">
            <h2 class="md:text-xl custom-500 text-sm font-semibold truncate md:mb-3">
                {title}
            </h2>
            <a href={url} class="md:mb-6 block">
                <p class="my-1 text-xs md:text-sm line-clamp-2 custom-400">
                    {desc}
                </p>
            </a>
            <div class="flex gap-x-4 ">
                <button class="btn btn-ghost lowercase btn-sm">
                    <p>{price} so'm</p>
                </button>
                <button class="btn btn-primary text-sm px-3 sm:btn-primary btn-sm"> Buyurtma berish </button>
            </div>
        </div>
    </div>
</div>

<style>
    .product-card {
        position: relative;
        width: 320px;
    }
</style>
