---
const { title, cover, desc, url, slider, price } = Astro.props
import Slider from './Slider.astro'
import dayjs from 'dayjs'
import SubmitButton from './modals/modal-form.astro'
import localizedFormat from 'dayjs/plugin/localizedFormat'
import '../assets/fonts/WEB/css/clash-display.css'
dayjs.extend(localizedFormat)
---

<div class="product-card">
    <Slider photos={slider ? slider : []} />

    <div class="grow w-full overflow-auto p-2 md:p-4">
        <h2
            class="md:text-xl custom-500 text-sm font-semibold truncate md:mb-3"
        >
            {title}
        </h2>

        <a href={url} class="md:mb-6 mb-2 block">
            <p class="my-1 text-xs md:text-sm line-clamp-2 custom-400">
                {desc}
            </p>
        </a>

        <div
            class="flex md:flex-row md:justify-between md:items-center flex-col md:gap-x-4 gap-2"
        >
            <button class="lowercase text-left badge badge-success">
                <p class="font-bold">{price} so'm</p>
            </button>

            <SubmitButton modalTitle="tests" modalContent="" tests2 />
        </div>
    </div>
</div>

<style>
    .product-card {
        position: relative;
        width: 320px;
        border-radius: 6px;
        overflow: hidden;
        background: #ffffff;
        border: 1px solid #c0a7ff35;
        cursor: pointer;
    }

    .product-card:hover {
        border: 1px solid #c0a7ffed;
    }

    @media only screen and (max-width: 768px) {
        .product-card {
            position: relative;
            max-width: 300px;
        }
    }

    @media only screen and (max-width: 576px) {
        .product-card {
            position: relative;
            max-width: 280px;
        }
    }

    @media only screen and (max-width: 480px) {
        .product-card {
            position: relative;
            max-width: 236px;
        }
    }
    @media only screen and (max-width: 440px) {
        .product-card {
            position: relative;
            max-width: 220px;
        }
    }

    @media only screen and (max-width: 428px) {
        .product-card {
            position: relative;
            max-width: 212px;
        }
    }

    @media only screen and (max-width: 414px) {
        .product-card {
            position: relative;
            max-width: 205px;
        }
    }

    @media only screen and (max-width: 390px) {
        .product-card {
            position: relative;
            max-width: 196px;
        }
    }
    @media only screen and (max-width: 375px) {
        .product-card {
            position: relative;
            width: 187px;
            height: 340px;
        }
    }
</style>
