---
const today = new Date();
---

<footer class="footer footer-center block pb-7 pt-7">
  <div class="inline opacity-50">
    <a href="https://t.me/mukhriddinweb" target="_blank">
     <strong>{today.getFullYear()}</strong> Powered by <span class="font-bold"> NovoToys ⚡️</span> 
    </a>
  </div>
</footer>
<style></style>
